body {
    background-color: lightsteelblue;
    font-family: sans-serif;
    color: navy
    }

h1 {
    font-family: sans-serif;
    color: whitesmoke;
    font-family: cursive
    }

p {
    font-family: sans-serif;
    }